@use './variables' as *;

@mixin make-container($padding-x: $container-padding-x) {
  width: 75%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  @include make-container();
}

body {
  background-image: url(/images/body-bg.jpg);

  a {
    text-decoration: none;
  }
}

.label {
  background-color: $accent-color;
  color: $primary-color;
  transform: skewX(-20deg);
}

.game_title {
  color: $light-color;
}

.section_title {
  font-size: 2.5rem;
  color: $light-color;
  text-align: center;
  margin-top: 7rem;
}

.divider {
  background-color: $accent-color;
  width: 55px;
  height: 2px;
  border: none;
  border-radius: 2.5px;
  opacity: 1;
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
}

.button {
  padding: 1rem 2rem;
  background-color: $light-color;
  color: black;
  border: none;

  &:hover {
    background-color: $accent-color;
  }
}

.nav_button {
  position: absolute;
  top: 90%;
  left: 97%;
  background-color: transparent;
  border: 2px solid $accent-color;
  transform: rotate(45deg) translate(-100%, -100%);
  color: $primary-color;

  .wrapper {
    border: 2px solid $primary-color;
    background-color: $accent-color;

    :before {
      transform: rotate(-45deg);
    }

  }

}