@use './variables' as *;

@mixin make-container($padding-x: $container-padding-x) {
  width: 75%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.custom-container {
  @include make-container();
}

body {
  background-image: url(/images/body-bg.jpg);

  a {
    text-decoration: none;
  }

}


.label {
  background-color: $accent-color;
  color: $primary-color;
  transform: skewX(-20deg);
}

.button {
  padding: 1rem 2rem;
  background-color: $light-color;
  color: black;
  border: none;

  &:hover {
    background-color: $accent-color;
  }
}