@use './variables' as *;


#footer {
  height: 500px;
  background-image: url(/images/footer-bg.png);

  hr {
    width: 100%;
    color: rgb(144, 136, 147);
  }

  .footer_top {

    ul {
      margin-bottom: 5rem;

      a {
        color: rgb(144, 136, 147);
      }

      li {
        font-size: 0.9rem;

        i {
          color: $accent-color;
        }

        .newsletter_input {
          border: none;
          width: 85%;
          height: 45px;
        }

        .newsletter_btn {
          background-color: $light-color;
          border: none;
          padding: 0 0.7rem 0 0.7rem;

          .newsletter_icon {
            background-image: url(/images/newsletter.png);
            background-repeat: no-repeat;
            width: 21px;
            height: 19px;
            background-position: 0 0;
          }

          &:hover .newsletter_icon {
            background-position: 0 -64px;
          }
        }
      }

      .list_title {
        color: $light-color;
        font-size: 1.1rem;
      }
    }

    .social_icons {
      a {
        i {

          color: $light-color;
        }

        &:hover i {
          color: $accent-color;
        }
      }
    }
  }

  .footer_bottom {
    color: $light-color;
    font-size: 0.7rem;

    ul {

      // Sprites rendering
      .amex,
      .discover,
      .mastercard,
      .paypal,
      .visa {
        background-image: url(/images/payments.png);
        background-repeat: no-repeat;
      }

      .amex {
        width: 40px;
        height: 25px;
        background-position: -1px -237px;
      }

      .discover {
        width: 40px;
        height: 25px;
        background-position: -1px -195px;
      }

      .mastercard {
        width: 40px;
        height: 25px;
        background-position: -2px -40px;
      }

      .paypal {
        width: 40px;
        height: 25px;
        background-position: -1px -117px;
      }

      .visa {
        width: 40px;
        height: 25px;
        background-position: -1px -1px;
      }

    }
  }

}