@use './variables' as *;


#main {

  .shopping_info {
    height: 210px;
    color: $light-color;

    a {
      color: $light-color;
    }

    li:nth-child(2n) {
      font-size: 2rem;
      color: rgba(144, 136, 147, 0.2);
    }

    li:nth-child(5) {
      i {
        position: relative;

        span {
          position: absolute;
          top: -1.5px;
          left: 7.5px;
          font-family: system-ui;
          font-size: 1.2rem;
          color: rgb(29, 20, 39);
        }
      }
    }

    span:last-child {
      font-size: 0.9rem;
      color: rgb(144, 136, 147);

    }

    a:hover {

      i,
      div span:nth-child(1) {
        cursor: pointer;
        color: $accent-color;
      }
    }
  }

}