@use './variables' as *;


#main {

  .shopping_info {
    margin-top: 6rem;
    color: $light-color;

    a {
      color: $light-color;
    }

    li:nth-child(even) {
      font-size: 2rem;
      color: rgba(144, 136, 147, 0.2);
    }

    li:nth-child(5) {
      i {
        position: relative;

        span {
          position: absolute;
          top: -1.5px;
          left: 7.5px;
          font-family: system-ui;
          font-size: 1.2rem;
          color: rgb(29, 20, 39);
        }
      }
    }

    span:last-child {
      font-size: 0.9rem;
      color: rgb(144, 136, 147);

    }

    // Link hover
    a:hover {

      i,
      div span:nth-child(1) {
        cursor: pointer;
        color: $accent-color;
      }

      .free_delivery {
        background-position: -1px 0;
      }

      .money_policy {
        background-position: -1px -224px;
      }

      .member_discount {
        background-position: -10px -450px;
      }

      .return_policy {
        background-position: -1px -676px;
      }
    }

    // Sprites rendering
    .free_delivery,
    .money_policy,
    .member_discount,
    .return_policy {
      background-image: url(/images/service-icon.png);
      background-repeat: no-repeat;
    }

    .free_delivery {
      width: 57px;
      height: 32px;
      background-position: -1px -113px;
    }

    .money_policy {
      width: 57px;
      height: 38px;
      background-position: -1px -337px;
    }

    .member_discount {
      width: 38px;
      height: 38px;
      background-position: -10px -563px;
    }

    .return_policy {
      width: 57px;
      height: 38px;
      background-position: -1px -789px;
    }



  }

  .games_adv {
    margin-top: 6rem;

    .col:first-child {
      .game_adv_card {
        background-image: url(/images/cms-banner-01.jpg);

        .label {
          width: 213px;
          margin-left: 0.7rem;
        }
      }
    }

    .col:last-child {
      .game_adv_card {
        background-image: url(/images/cms-banner-02.jpg);

        .foreground {
          position: relative;
          z-index: 2;
          top: 0;
          left: 100%;
          transform: translate(-100%);
          width: 10%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }

        .description {
          .label {
            width: 199px;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .col {
      .game_adv_card {
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;

        .description {
          position: relative;
          transform: translate(0, -50%);
          top: 50%;
          left: 45%;
          z-index: 9999;
          width: 315px;

          .label {
            margin-bottom: 1.5rem;

            h5 {
              font-size: 1.8rem;
            }
          }

          .game_title {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  .debug.special_category {
    position: relative;

    .col {
      ._card {
        width: 100%;
        height: 550px;
        border: 1px solid white;
        background-color: $accent-color;
      }
    }

    .nav_button {
      top: 16%;
    }
  }

  #our_products.debug {
    text-align: center;

    .nav {
      margin-bottom: 3rem;

      .nav-item {
        border: 1px solid rgba(144, 136, 147, 0.2);
        padding: 1rem 2rem;

        a {
          color: $light-color;
          font-size: 0.9rem;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    // Rating star and product image
    .col:nth-child(1) {
      .card_image {
        background-image: url(/images/01-327x327.jpg);
      }

      .card_footer {
        .rating {
          i:nth-child(-n + 4) {
            color: $accent-color;
          }
        }
      }
    }

    .col:nth-child(2) {
      .card_image {
        background-image: url(/images/09-327x327.jpg);
      }
    }

    .col:nth-child(3) {
      .card_image {
        background-image: url(/images/03-327x327.jpg);
      }

      .card_footer {
        .rating {
          i:nth-child(-n + 1) {
            color: $accent-color;
          }
        }
      }
    }

    .col:nth-child(4) {
      .card_image {
        background-image: url(/images/11-327x327.jpg);
      }

      .card_footer {
        .rating {
          i:nth-child(-n + 2) {
            color: $accent-color;
          }
        }
      }
    }

    .col {
      .product_card {
        width: 100%;

        .card_image {
          height: 327px;
        }

        .card_footer {
          text-align: start;
          background-color: $primary-dark-color;

          .rating {
            color: $light-color
          }

          .product_title {
            a {
              color: $light-color;
            }

            &:hover {
              cursor: pointer;

              a {
                color: $accent-color;
              }
            }
          }

          .price {
            .discounted_price {
              color: $light-font-color;
              text-decoration: line-through;
            }

            .actual_price {
              color: $accent-color;
            }
          }

          .icon_container:not(:last-child) {
            border-right: 2px solid $primary-color;
          }

          .icon_container {
            display: none;
            border-top: 2px solid $primary-color;
            width: 100%;

            a {
              color: $light-color;
            }

            &:hover {
              cursor: pointer;

              a {
                color: $accent-color;
              }
            }
          }

        }

        &:hover .user_actions {
          margin: 1.4rem -0.5rem 0 -0.5rem;
        }

        &:hover .icon_container {
          display: block;
        }

        &:hover .price {
          display: none;
        }
      }
    }
  }

  .games_discount {
    margin-top: 6rem;

    .col:first-child {
      .game_adv_card {
        background-image: url(/images/cms-banner-03.jpg);

        .label {
          width: 213px;
          margin-left: 0.7rem;
        }
      }
    }

    .col:last-child {
      .game_adv_card {
        background-image: url(/images/cms-banner-04.jpg);

        .foreground {
          position: relative;
          z-index: 2;
          top: 0;
          left: 100%;
          transform: translate(-100%);
          width: 10%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }

        .description {
          .label {
            width: 199px;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .col {
      .game_adv_card {
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;

        .description {
          position: relative;
          transform: translate(0, -50%);
          top: 50%;
          left: 45%;
          z-index: 9999;
          width: 315px;

          .label {
            margin-bottom: 1.5rem;

            h5 {
              font-size: 1.8rem;
            }
          }

          .game_title {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  .deal_of_the_day {
    text-align: center;

    .timer {
      margin-bottom: 3rem;

      .timer-item {
        border: 1px solid rgba(144, 136, 147, 0.2);
        padding: 1rem 2rem;

        a {
          color: $light-color;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    // Rating star and product image
    .col:nth-child(1) {
      .card_image {
        background-image: url(/images/04-327x327.jpg);
      }

      .card_footer {
        .rating {
          i:nth-child(-n + 4) {
            color: $accent-color;
          }
        }
      }
    }

    .col:nth-child(2) {
      .card_image {
        background-image: url(/images/18-327x327.jpg);
      }

      .card_footer {
        .rating {
          i {
            color: $accent-color;
          }
        }
      }
    }

    .col:nth-child(3) {
      .card_image {
        background-image: url(/images/02-327x327.jpg);
      }

      .card_footer {
        .rating {
          i:nth-child(-n + 3) {
            color: $accent-color;
          }
        }
      }
    }

    .col:nth-child(4) {
      .card_image {
        background-image: url(/images/10-327x327.jpg);
      }

      .card_footer {
        .rating {
          i:nth-child(-n + 2) {
            color: $accent-color;
          }
        }
      }
    }

    .col {
      .product_card {
        width: 100%;

        .card_image {
          height: 327px;
        }

        .card_footer {
          text-align: start;
          background-color: $primary-dark-color;

          .rating {
            color: $light-color
          }

          .product_title {
            a {
              color: $light-color;
            }

            &:hover {
              cursor: pointer;

              a {
                color: $accent-color;
              }
            }
          }

          .price {
            .discounted_price {
              color: $light-font-color;
              text-decoration: line-through;
            }

            .actual_price {
              color: $accent-color;
            }
          }

          .icon_container:not(:last-child) {
            border-right: 2px solid $primary-color;
          }

          .icon_container {
            display: none;
            border-top: 2px solid $primary-color;
            width: 100%;

            a {
              color: $light-color;
            }

            &:hover {
              cursor: pointer;

              a {
                color: $accent-color;
              }
            }
          }

        }

        &:hover .user_actions {
          margin: 1.4rem -0.5rem 0 -0.5rem;
        }

        &:hover .icon_container {
          display: block;
        }

        &:hover .price {
          display: none;
        }
      }
    }
  }

  .customers_review {
    margin-top: 7rem;

    .carousel {
      .background {
        height: 550px;
        background-image: url(/images/parallax.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;

        .customer_pic {
          position: relative;
          margin-bottom: 2rem;

          img {
            border: 2px solid $accent-color;
            border-radius: 50%;
          }

          div {
            width: 30px;
            line-height: 30px;
            text-align: center;
            aspect-ratio: 1 / 1;
            position: absolute;
            top: 0;
            background-color: rgb(249, 170, 1);
            color: rgb(255, 255, 255);
            border-radius: 50%;
          }
        }

        .customer_name {
          margin-bottom: 2rem;

          span:first-child {
            color: $light-color;
          }

          span:last-child {
            color: $accent-color;
          }
        }

        .customer_quote {
          margin-bottom: 3rem;
          width: 69%;
          color: rgb(144, 136, 147);
          text-align: center;
          line-height: 2rem;
        }

        .navigation {
          margin-bottom: 3rem;

          li:nth-child(2) {
            padding: 0 1rem 0 1rem;
          }

          a {
            color: $light-color;

            i {
              font-size: 0.6rem;
            }

            &:hover {
              color: $accent-color;

              i {
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }

  }

  #blog {

    .col:nth-child(1) {
      .card_image {
        background-image: url(/images/Nisi-ut-aliquid-ex-ea-com-1400x878_t.jpg);
      }
    }

    .col:nth-child(2) {
      .card_image {
        background-image: url(/images/Architecto-beatae-vitae-dicta-1400x878_t.jpg);
      }
    }

    .col:nth-child(3) {
      .card_image {
        background-image: url(/images/At-vero-eos-et-accusamus-1400x878_t.jpg);
      }
    }

    .col {

      .article_card {
        width: 100%;

        .card_image {
          height: 280px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        .card_footer {
          height: 75px;

          .date_and_comments {
            color: $light-font-color;
            font-size: 0.9rem;

            i {
              color: $accent-color;
            }
          }

          .article_title {
            color: $light-color;
          }
        }
      }
    }

    .divider_big {
      margin: 5rem 0 5rem 0;
      color: rgb(144, 136, 147);
    }
  }

  .brands {
    margin-bottom: 5rem;
  }

}